body,
html {
  background: url(/assets/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin: 0%;
}

header {
  background-color: #380101;
  border-radius: 10px;

  width: 600px;

  align-self: center;

  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #ffd700;
  box-shadow: 0px 1px 8px 1px #895706c4;

  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

a {
  color: gold;
  font-weight: 400px;
  font-size: 40px;
  font-family: lobster;
  text-decoration: none;
}

.banner {
  text-align: center;
  border-radius: 10px;
}

.beer-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #000;
}

.beer-name {
  display: flex;
  font-size: 40px;
  justify-content: center;
  font-family: "Lobster";
  text-decoration: underline;
  margin: 20px;
  color: rgb(0 0 0);
  padding-top: 10px;
}

.beer-info {
  display: flex;
  justify-content: center;
  background-color: #380101;
  border-radius: 10px;
  width: 200px;
  align-self: center;
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #ffd700;
  box-shadow: 0px 1px 8px 1px #895706c4;
  margin-bottom: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.banner > img {
  width: 1020px;
  height: auto;
}

.pickabeer {
  background-color: #380101c7;
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #ffd700;
  box-shadow: 0px 1px 8px 1px #895706c4;
}

.beer-pic {
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.beer-pic img {
  height: 500px;
  width: auto;
  margin-top: 20px;

  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
}


.hide {
  display: none;
}


element.style {
  padding: 0;
  display: flex;
  background-image: beige;
  flex-direction: column;
}

main {
  box-shadow: 0px 0px 20px 3px #38010152;
  border-radius: 20px;
}

.random-beer-btn {
  background-color: #380101;
  border-radius: 10px;
  width: 600px;
  align-self: center;
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #ffd700;
  box-shadow: 0px 1px 8px 1px #895706c4;
  margin-bottom: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
}

#beer-info {
  font-size: x-large;
  font-family: lobster;
}


/* ------------------------------------------------------- SECTION SEARCH PAGE --------------------------------------------------*/

/* CSS KOD FÖR SEARCH-SIDAN */
input[type=text] {
  width: 250px;
  font-family: "lobster";
}

.search-text{
  border-radius: 3%;
  border-style: none;
  box-shadow: 0px 3px 8px #390707a6;
  width: 250px;
  height: 30px;
}


ul {
  list-style-type:none;
}

.ul-form {
  font-size: larger;
    font-family: 'Lobster';
  padding: 0%;
}

.li-form {
  width:500px;
  height:40px;
  background-color: rgba(0, 0, 0, 0.803);
  color: #048980;
}


.li-form:hover {
  background-color:#c3c9c7;
  cursor:pointer;
}


.li-form{
  width: 500px;
  height: 40px;
  background: transparent;
  color: #000000;
  border-radius: 1%;
  
}

.form-container{
  box-shadow: 0px 5px 5px 1px #5e01015c;
  border-radius: 5%;
}

.form-div {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;

  display: flex;
}

/*FOR PAGINATION USE PURPOSES */

.pagination-div{
  box-shadow: 0px -1px 5px 0px #00000014;
}

.pagination-buttons{
  display: flex;
  justify-content: center;
  text-align-last: center;
  font-family: 'Lobster';
  background-color: transparent;
  padding: 6px 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.pagination-buttons p{
  width: 40px;
 
}

.search-hidden {
  display: none;
}